spring:
  batch:
    initialize-schema: always

flyway:
  apply-migrations: true
  migrations:
    batch:
      enabled: true
      schemas: public
    stg:
      enabled: true
      schemas: stg

amqp:
  createQueues: true
  createExchanges: true

logging:
  level:
    #'org.springframework': DEBUG
    'org.springframework': INFO
    'fr.dademo': DEBUG
    'fr.dademo.tools': TRACE
    'org.flywaydb.core': DEBUG
    'org.jooq.Constants': WARN
    #'com.zaxxer.hikari': DEBUG
    'com.zaxxer.hikari': INFO
    #'okhttp3': DEBUG
    'okhttp3': INFO

lock:
  backend: memory
  #backend: hazelcast
  hazelcast:
    clusterName: dev
    multicastEnabled: true
    restEnabled: false

cache:
  enabled: true
  cacheBackend: file
  #cacheBackend: vfs
  #cacheBackend: minio
  vfs:
    tempResourcesPath: "file:///tmp/tmp__dev_cache"
    randomTempPath: true
    cacheResourcesPath: "file:///home/dademo/.cache/dev_cache"
    #cacheResourcesPath: "ftp://dev:dev@172.18.0.10:21/dev-cache"
    authentication:
      domain: null
      username: null
      password: null
  minio:
    endpoint: http://172.18.0.11:9000
    accessKey: dev
    secretKey: password
    bucketName: dev
    createBucket: true

datasources:
  jdbc:
    batch:
      enabled: true
      #driver-class-name: org.sqlite.JDBC
      #url: "jdbc:sqlite:jobs.sqlite"
      url: jdbc:postgresql://localhost:5432/bi
      minimum-idle: 5
      maximum-pool-size: 20
      username: bi_rw
      password: bi_rw
    stg:
      enabled: true
      url: jdbc:postgresql://localhost:5432/bi
      minimum-idle: 10
      maximum-pool-size: 100
      connection-timeout-millis: 0
      catalog: null
      schema: stg
      username: bi_rw
      password: bi_rw
  mongodb:
    stg:
      enabled: false
      connection-string: mongodb://root:root@localhost:27017/stg
      database: stg
  rabbitmq:
    stg:
      enabled: false
      connection-string: amqp://guest:guest@localhost:5672
      confirms: false
      queues: { }
      exchanges:
        association:
          name: association
          type: direct
          durable: true
          autoDelete: false
          delayed: false
          internal: false

batch:
  executor-thread-pool-size: 1
  repository:
    enabled: true
  jobs:
    naf:
      enabled: true
      data-source-name: stg
      chunk-size: 1000
      writer-type: JDBC
      #writer-type: MONGODB
      max-threads: null
    company:
      enabled: true
      data-source-name: stg
      chunk-size: 1000000
      writer-type: JDBC
      #writer-type: MONGODB
      max-threads: null
    company-history:
      enabled: true
      data-source-name: stg
      chunk-size: 1000000
      writer-type: JDBC
      max-threads: null
    company-inheritance:
      enabled: true
      data-source-name: stg
      chunk-size: 1000000
      writer-type: JDBC
      max-threads: null
    company-legal:
      enabled: true
      data-source-name: stg
      chunk-size: 1000000
      writer-type: JDBC
      max-threads: null
    company-legal-history:
      enabled: true
      data-source-name: stg
      chunk-size: 1000000
      writer-type: JDBC
      max-threads: null
    association:
      enabled: true
      data-source-name: stg
      chunk-size: 1000000
      #writer-type: AMQP
      #writer-type: NO_ACTION
      writer-type: JDBC
      max-threads: null
    association-waldec:
      enabled: true
      data-source-name: stg
      chunk-size: 1000000
      writer-type: JDBC
      max-threads: null
