$paginator-height: 56px;
$page-body-padding: 8px;

div.values-list {

    $_height: calc(100% - $paginator-height - ($page-body-padding * 2));

    padding: $page-body-padding;
    height: $_height;
    max-height: $_height;
    width: calc(100% - ($page-body-padding * 2));
    overflow: auto;

    mat-chip {
        cursor: pointer;
    }
    
    mat-expansion-panel-header span.panel-header-blank {
        flex: 1;
    }
}

mat-paginator {
    height: $paginator-height;
    padding-bottom: 0;
}