$page-view-heading-padding-top-bottom: 8px;
$page-view-heading-padding-left-right: 16px;

div.page-view-body {
    height: 100%;

    div.page-view-heading {
        padding: $page-view-heading-padding-top-bottom $page-view-heading-padding-left-right;
    }
}
