<button mat-button [matMenuTriggerFor]="theme_menu">
    <mat-icon aria-label="Theme chooser">format_color_fill</mat-icon>
</button>
<mat-menu [class]="((currentThemeClass | async) || 'theme-deep-purple-amber') + ((isDarkTheme | async)? ' theme-dark' : '')"
    #theme_menu="matMenu" yPosition="below" xPosition="before">
    <button mat-menu-item fxLayoutAlign="space-around center"
        (click)="setApplicationTheme(availableTheme.theme)"
        *ngFor="let availableTheme of availableThemes | async">
        <mat-radio-button [checked]="availableTheme.enabled" (click)="setApplicationTheme(availableTheme.theme)">
            {{ availableTheme.displayName }}
        </mat-radio-button>
        <span fxFlex></span>
    </button>
    
    <mat-divider></mat-divider>
    <button mat-menu-item fxLayoutAlign="space-evenly center" (click)="setIsDark(!dark_slide.checked)">
        <mat-icon aria-label="Theme chooser">dark_mode</mat-icon>
        <span style="padding-right: 16px;">Dark theme</span>
        <mat-slide-toggle [checked]="isDarkTheme | async" (change)="setIsDark($event.checked)" (click)="$event.stopPropagation()" #dark_slide></mat-slide-toggle>
    </button>
</mat-menu>