<button [matMenuTriggerFor]="theme_menu" mat-button>
  <mat-icon aria-label="Theme chooser">format_color_fill</mat-icon>
</button>
<mat-menu
  #theme_menu="matMenu"
  [class]="((currentThemeClass | async) || 'theme-deep-purple-amber') + ((isDarkTheme | async)? ' theme-dark' : '')"
  xPosition="before" yPosition="below">
  <button (click)="setApplicationTheme(availableTheme.theme)" *ngFor="let availableTheme of availableThemes | async"
          fxLayoutAlign="space-around center"
          mat-menu-item>
    <mat-radio-button (click)="setApplicationTheme(availableTheme.theme)" [checked]="availableTheme.enabled">
      {{ availableTheme.displayName }}
    </mat-radio-button>
    <span fxFlex></span>
  </button>

  <mat-divider></mat-divider>
  <button (click)="setIsDark(!dark_slide.checked)" fxLayoutAlign="space-evenly center" mat-menu-item>
    <mat-icon aria-label="Theme chooser">dark_mode</mat-icon>
    <span style="padding-right: 16px;">Dark theme</span>
    <mat-slide-toggle #dark_slide (change)="setIsDark($event.checked)"
                      (click)="$event.stopPropagation()" [checked]="isDarkTheme | async"></mat-slide-toggle>
  </button>
</mat-menu>
