<div class="values-list" fxLayout="row wrap" fxLayoutGap="16px grid">
  <ng-container *ngFor="let it of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
    <ng-container *ngFor="let dataRepresentation of dataRepresentations | async">

      <div fxFlex="33%" fxFlex.sm="50%" fxFlex.xs="100%">
        <mat-card class="mat-elevation-z4">
          <mat-card-header>
            <mat-card-title>{{ dataRepresentation.name }}</mat-card-title>
            <mat-card-subtitle>{{ dataRepresentation.description }}</mat-card-subtitle>
          </mat-card-header>
          <img alt="Photo of a Shiba Inu" mat-card-image
               src="https://material.angular.io/assets/img/examples/shiba2.jpg">
          <mat-card-content>
          </mat-card-content>
          <mat-card-actions>
            <ng-template [ngIf]="dataRepresentation.statisticsLink">
              <button [routerLink]="dataRepresentation.statisticsLink" mat-button>
                <mat-icon>analytics</mat-icon>
                Statistics
              </button>
            </ng-template>
            <button
              *ngFor="let link of [ dataRepresentation.mainLink, dataRepresentation.fullPageDisplayLink ].concat(dataRepresentation.otherLinks)"
              [routerLink]="link.displayName"
              mat-button>
              <mat-icon>{{ link.icon || 'link' }}</mat-icon>
              {{ link.displayName }}
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </ng-container>
  </ng-container>
</div>
