@import "~@angular/material/theming";

$toolbar-height: 56px;
$app-sidenav-padding: 8px;
$app-progress-height: 4px;

div.app-interface {
    top: 0;
    width: 100%;
    height: 100%;
}

mat-toolbar {
    height: $toolbar-height;
    padding: 8px 16px;
}

mat-progress-bar {
    width: 100%;
    height: $app-progress-height;
}

mat-drawer-container {

    width: 100%;
    height: calc(100% - $toolbar-height);

    mat-drawer {
        padding: $app-sidenav-padding;
        padding-top: $app-sidenav-padding + $app-progress-height;
        @include mat-elevation(2);
    }

    mat-drawer-content {
        
        height: 100%;
        width: auto;

        div.app-body {
            width: 100%;
            height: 100%;
        }
    }
}

mat-drawer-container.loading {
    
    height: calc(100% - $toolbar-height);

    mat-drawer-content {
        mat-progress-bar {
            padding-top: 0px;
        }
        div.app-body {
            height: calc(100% - $app-progress-height);
        }
    }
}
