/* You can add global styles to this file, and also import other style files */
@use 'sass:map';
@use "@angular/material" as mat;

@include mat.core();

$indigo-pink-theme-primary: mat.define-palette(mat.$indigo-palette);
$indigo-pink-theme-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$indigo-pink-theme-light: mat.define-light-theme(
    $indigo-pink-theme-primary,
    $indigo-pink-theme-accent
);
$indigo-pink-theme-dark: mat.define-dark-theme(
    $indigo-pink-theme-primary,
    $indigo-pink-theme-accent
);

$deep-purple-amber-theme-primary: mat.define-palette(mat.$deep-purple-palette);
$deep-purple-amber-theme-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$deep-purple-amber-theme-light: mat.define-light-theme(
    $deep-purple-amber-theme-primary,
    $deep-purple-amber-theme-accent
);
$deep-purple-amber-theme-dark: mat.define-dark-theme(
    $deep-purple-amber-theme-primary,
    $deep-purple-amber-theme-accent
);

$pink-blue-grey-theme-primary: mat.define-palette(mat.$pink-palette);
$pink-blue-grey-theme-accent: mat.define-palette(mat.$blue-grey-palette, A200, A100, A400);
$pink-blue-grey-theme-light: mat.define-light-theme(
    $pink-blue-grey-theme-primary,
    $pink-blue-grey-theme-accent
);
$pink-blue-grey-theme-dark: mat.define-dark-theme(
    $pink-blue-grey-theme-primary,
    $pink-blue-grey-theme-accent
);

$purple-green-theme-primary: mat.define-palette(mat.$purple-palette);
$purple-green-theme-accent: mat.define-palette(mat.$green-palette, A200, A100, A400);
$purple-green-theme-light: mat.define-light-theme(
    $purple-green-theme-primary,
    $purple-green-theme-accent
);
$purple-green-theme-dark: mat.define-dark-theme(
    $purple-green-theme-primary,
    $purple-green-theme-accent
);


$default-theme: $deep-purple-amber-theme-light;

// Tools
@function theme-color-view($theme, $kind) {

    @return mat.get-color-from-palette(
        map.get(
            mat.get-color-config($theme),
            $kind
        ),
        500
    );
}

@mixin app-theme($theme) {

    @include mat.all-component-themes($theme);

    .primary-color-bg {
        background-color: theme-color-view($theme, 'primary');
    }

    .accent-color-bg {
        background-color: theme-color-view($theme, 'accent');
    }

    .warn-color-bg {
        background-color: theme-color-view($theme, 'warn');
    }
}


.theme-indigo-pink:not(.theme-dark) {
    @include app-theme($indigo-pink-theme-light);
}
.theme-indigo-pink.theme-dark {
    @include app-theme($indigo-pink-theme-dark);
}

.theme-deep-purple-amber:not(.theme-dark) {
    @include app-theme($deep-purple-amber-theme-light);
}
.theme-deep-purple-amber.theme-dark {
    @include app-theme($deep-purple-amber-theme-dark);
}

.theme-pink-blue-grey:not(.theme-dark) {
    @include app-theme($pink-blue-grey-theme-light);
}
.theme-pink-blue-grey.theme-dark {
    @include app-theme($pink-blue-grey-theme-dark);
}

.theme-purple-green:not(.theme-dark) {
    @include app-theme($purple-green-theme-light);
}
.theme-purple-green.theme-dark {
    @include app-theme($purple-green-theme-dark);
}


a.active-route {
    font-weight: bold;
}

a.active-route:not(.theme-dark) {
    background-color: #44444411;
}

a.active-route.theme-dark {
    background-color: #fafafa33;
}

body {
    margin: 0;
    padding: 0;
}

@include mat.all-component-themes($default-theme);

/*
$red-palette
$pink-palette
$purple-palette
$deep-purple-palette
$indigo-palette
$blue-palette
$light-blue-palette
$cyan-palette
$teal-palette
$green-palette
$light-green-palette
$lime-palette
$yellow-palette
$amber-palette
$orange-palette
$deep-orange-palette
$brown-palette
$grey-palette
$blue-grey-palette
$light-theme-background-palette
$dark-theme-background-palette
$light-theme-foreground-palette
*/
