<div [class.theme-dark]="isDarkTheme | async" [class]="(themeClass | async) || 'theme-deep-purple-amber'" class="app">
  <ng-template [ngIfElse]="app_guard" [ngIf]="isStarting | async">
    <app-guard></app-guard>
  </ng-template>

  <ng-template #app_guard>
    <ng-template [ngIfElse]="app" [ngIf]="isApplicationError">
      ERROR, TODO
    </ng-template>
    <ng-template #app>
      <app-interface>
        <router-outlet></router-outlet>
      </app-interface>
    </ng-template>
  </ng-template>
</div>
