<div class="app" [class]="(themeClass | async) || 'theme-deep-purple-amber'" [class.theme-dark]="isDarkTheme | async">
  <ng-template [ngIf]="isStarting | async" [ngIfElse]="app_guard">
    <app-guard></app-guard>
  </ng-template>
  
  <ng-template #app_guard>
    <ng-template [ngIf]="isApplicationError" [ngIfElse]="app">
      ERROR, TODO
    </ng-template>
    <ng-template #app>
      <app-interface>
        <router-outlet></router-outlet>
      </app-interface>
    </ng-template>
  </ng-template>
</div>