$page-view-heading-padding-top-bottom: 8px;
$page-view-heading-padding-left-right: 16px;
$page-view-heading-padding-bottom: 8px;

div.page-view-body {
    overflow: auto;
}

div.page-view-heading {
    padding: $page-view-heading-padding-top-bottom $page-view-heading-padding-left-right;
    padding-bottom: $page-view-heading-padding-bottom;
}